PORT = 7000
MONGODB_URI = mongodb+srv://sandeep:yourpassword@cluster0.cdgnbgd.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET= alkjdljsljiejwjojldkjlsj apni marge se likha hai 
ACCESS_TOKEN_EXPIRY =1d
REFRESH_TOKEN_SECRET=123sljljsljd apni marge se likha hai 
REFRESH_TOKEN_EXPIRY = 10d


CLOUDINARY_CLOUD_NAME = skjls
CLOUDINARY_API_KEY= jljlsjlsljlsjlkdjlj 
CLOUDINARY_API_SECRET= 2398u92u983uosuo